<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721031518647-hlsrauu8ru61au4hmnp5dn8sso5s7dlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721031518647-hlsrauu8ru61au4hmnp5dn8sso5s7dlu</string>
	<key>API_KEY</key>
	<string>AIzaSyBOMAudwl10W8L4zVFmSsNrK2sja0dRFkA</string>
	<key>GCM_SENDER_ID</key>
	<string>721031518647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nazik.TchnFshn</string>
	<key>PROJECT_ID</key>
	<string>technofashion-7ebca</string>
	<key>STORAGE_BUCKET</key>
	<string>technofashion-7ebca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721031518647:ios:87a8ef36f72c72cd45b032</string>
</dict>
</plist>